WEBHOOK_TOKEN=SECRETxxyyzz
GMO_API_KEY=put_your_key_here_32chars
GMO_API_SECRET=put_your_secret_here_64chars
ALLOWED_SYMBOLS=BTC_JPY
ENTRY_POLICY=ignore
MAX_SKEW_SECONDS=60
QTY_STEP=0.01
NOTIFY_DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/xxxx/xxxx
ENV=prod
